/* Contenedor del login */
.login-container {
    border: 2px solid #0f1b32;
    background-color: #11203f;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(50, 21, 21, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 380px;
    transform: translate(-50%, -50%);
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    z-index: 2001; /* Superior al navbar */
}

/* Imagen superior */
.login-container img {
    width: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Título */
.login-container .titulo {
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    color: #ce8a32;
    margin: 0px 10px 0px 5px;
}

/* Texto para los labels */
.login-container .txt-login {
    font-size: 14px;
    margin: 5px 10px 5px 5px;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #c7a190;
}

/* Campos de texto */
.login-container .textbox-login {
    width: 100%;
    padding: 12px;
    border: 0px solid #c7a190;
    border-radius: 8px;
    font-size: 15px;
    box-sizing: border-box;
    margin-top: 8px;
    background-color: #2f4d89;
    color: #c7a190;
}

/* Grupo de campos */
.login-container .login-group {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Checkboxes contenedor */
.login-container .check-login {
    width: 100%;
    text-align:left;
    box-sizing: border-box;
    align-items:flex-start;
}

/* Checkboxes individuales */
.login-container .check-login label {
    display: flex;
    align-items:flex-start;
    font-size: 14px;
    color: #ce8a32;
    margin-bottom: 8px;
}

.login-container .check-recordar{
    color: rgb(180, 86, 83);
    background-color: #11203f;
}

/* Botón ingresar */
.login-container .btn-ingresar,
.login-container a.btn-cancelar {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #531a1a;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 110px;
    height: 45px;
}

.login-container .btn-ingresar:hover {
    background-color: #224367;
}

.login-container a.btn-cancelar:hover{
    background-color: #224367;
    text-decoration: none;
}

.login-container .btn-cancelar:hover {
    text-decoration: underline;
}
