/* Contenedor del login */
.login-container {
    border: 2px solid #9e3120;
    background-color: #c90a0a;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(50, 21, 21, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 380px;
    transform: translate(-50%, -50%);
    display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
}

/* Título */
.titulo {
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin: 10px 20px;
    margin-top: 30px;
}

/* Imagen superior */
img {
    width: 150px;
    margin-top: 10px;
    margin-bottom: 15px;
}

/* Texto para los labels */
.txt-login {
    font-size: 14px;
    margin: 10px 20px 5px 20px;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}

/* Campos de texto */
.textbox-login {
  padding: 10px;
  border: 1px solid #16233c;
  font-size: 16px;
  width: 90%;
  max-width: 400px;
  box-sizing: border-box;
  height: 25px;
}

.login-group {
  margin-bottom: 20px;
}

/* Botón ingresar */
.ingresar {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #531a1a;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.ingresar:hover {
    background-color: #224367;
}

/* Checkboxes contenedor */
.check-login {
    width: 320px;
    margin-right: 20px;
    text-align: left;
    padding-left: 30px;
}

/* Checkboxes individuales */
.check-login label {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: white;
    margin-bottom: 8px;
}

.check-login input[type="checkbox"] {
    margin-right: 10px;
}

/* Botón cancelar (si lo tienes) */
.cancelar {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: transparent;
    color: orange;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.cancelar:hover {
    text-decoration: underline;
}
