.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: rgb(67, 31, 31);
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 10px;
    position: relative;
}

.close-btn {
    position: absolute;
    bottom: 260px;
    left: 220px;
    font-size: 20px;
    cursor: pointer;
    color: #381111;
    transition: color 0.3s ease;
}

.close-btn:hover {
    color: #d32f2f;
}
.login-container {
    border: 2px solid #9e3120;
    background-color: #c90a0a;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(50, 21, 21, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 380px;
    transform: translate(-50%, -50%);
    display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
}
.login-container a{
     color: white;
    background-color: #000;
    text-decoration: none;
}
.titulo {
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin: 10px 20px;
    margin-top: 30px;
}

img {
    width: 150px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.txt-login {
    font-size: 14px;
    margin: 10px 10px 5px 20px;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}

.textbox-login {
  padding: 10px;
  border: 1px solid #16233c;
  font-size: 16px;
  width: 90%;
  max-width: 400px;
  box-sizing: border-box;
  height: 25px;
}

.login-group {
  margin-bottom: 20px;
}

.ingresar {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #531a1a;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.ingresar:hover {
    background-color: #224367;
}

.check-login {
    width: 100%;
    margin-right: 10px;
    text-align: left;
    padding-left: 30px;
}

.check-login label {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: white;
    margin-bottom: 8px;
}

.check-login input[type="checkbox"] {
    margin-right: 10px;
}

.cancelar {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.cancelar:hover {
    text-decoration: underline;
}
